[Unit]
Description=Sigmo
Requires=ModemManager.service
After=network.target ModemManager.service

[Service]
Type=simple
User=root
Restart=on-failure
ExecStart=/usr/local/bin/sigmo --config=/etc/sigmo/config.toml
RestartSec=10s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
