[Unit]
Description=Telegram Mobile
Requires=ModemManager.service
After=network.target ModemManager.service

[Service]
Type=simple
User=root
Restart=on-failure
ExecStart=/usr/local/bin/telmo --bot-token=YourTelegramToken --admin-id=YourTelegramChatID
RestartSec=10s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
